<h1>write new post:</h1>

<%= form_for([@admin, @post]) do |f| %>

	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>			
	<%= f.label :body %>
	<%= f.text_area :body, class: 'form-control', wrap: "hard" %>

	<%= f.submit "submit", class: "btn btn-primary" %>

<% end %>