// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post{
	display: block;

	margin: auto;
	padding: 2em;
	width: 50%;
	
}

.post-title{
	text-align: left;
}

.post-body{
	font-size: 120%;
	text-align: left;
	
}

